
body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#555;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

section{
padding:20px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}